   
<div class="container">
    	<div class="row">
    		<div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
    			<div class="[ info-card ]">
    				<img style="width: 100%" src="https://dl.dropboxusercontent.com/u/62138849/2014-06-15%2014.18.41.jpg" />
    				<div class="[ info-card-details ] animate">
    					<div class="[ info-card-header ]">
    						<h1> Tony Marchante </h1>
    						<h3>  Ruby Developer</h3>
    					</div>
    					<div class="[ info-card-detail ]">
    						<!-- Description -->
    						<p>I'm a life long student searching for knowledge everyday, though maintaining an easy going spirit. I find happiness in helping people achieve their goals with technology.</p>
    						
    						<a href="#img1"> <img src="http://cl.ly/image/0b1m0c363N0I/hometown.jpg"></a>
    						<a href="#_" class="lightbox" id="img1"><img src="http://cl.ly/image/1U0S2X0f1F33/myhometown.jpg" alt="My hometown"></a>
    						<center><p> <b>My hometown</b> </p></center>
    						<p> In my spare time, I love reading and building my collection of novels, and short stories. I'm also active on <a href="http://www.quora.com/Tony-Marchante">Quora</a>  </p>
    						<div class="social">


    							<a href="https://github.com/Tony-Saijo" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

    							<a href="www.linkedin.com/pub/anthony-alexander-marchante/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
      
    		<div id="test" class="[ col-sm-6 col-md-4 ]">
     
    			<ul class="skill-list list-unstyled">
  <li class="skill list-unstyled">
     <li class="label label-success ">HTML</li>
     <li class="label label-success ">CSS</li>
     <li class="label label-success ">JS</li>
            <li class="label label-success ">SASS</li>
            <li class="label label-success ">CoffeeScript</li>
   <br>
    <br>
   <progress class="skill-3" max="100" value="70">
      <strong>Skill Level: 70%</strong>
    </progress>
  

          <li class="skill list-unstyled">
            <li class="label label-primary ">Ruby</li>
     <li class="label label-primary ">Rails</li>
     <li class="label label-primary ">Sinatra</li>
            
             <br>
    <br>
    <progress class="skill-2 list-unstyled" max="100" value="60">
      <strong>Skill Level: 60%</strong>
    </progress>
  </li>
  <li class="skill list-unstyled">
        <li class="label label-danger ">CentOS</li>
     <li class="label label-danger ">Debian</li>
     <li class="label label-danger ">Fedora</li>
            
          <br>
          <br>
    <progress class="skill-3 list-unstyled" max="100" value="45">
      <strong>Skill Level: 45%</strong>
    </progress>
  </li>
            <li class="skill list-unstyled">
               <li class="label label-info ">UML</li>
     <li class="label label-info ">MySQL</li>
     <li class="label label-info ">PostgreSQL</li>
        <br>
        <br>
    <progress class="skill-3 list-unstyled" max="100" value="40">
      <strong>Skill Level: 40%</strong>
    </progress>
 
  